<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>

<br>
<h2 id="gallery">gallery</h2>

<swiper-container keyboard="true" navigation="true" swiper-scrollbar="true" pagination="true" pagination-clickable="true" pagination-dynamic-bullets="true" rewind="true">
  <swiper-slide>{% include figure.liquid loading="eager" path="assets/img/gallery/coverpage.jpg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
  <swiper-slide>{% include figure.liquid loading="eager" path="assets/img/gallery/macdpp.jpg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
  <swiper-slide>{% include figure.liquid loading="eager" path="assets/img/gallery/pol.jpg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
  <swiper-slide>{% include figure.liquid loading="eager" path="assets/img/gallery/research.jpg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
  <swiper-slide>{% include figure.liquid loading="eager" path="assets/img/gallery/swissknife.jpg" class="img-fluid rounded z-depth-1" %}</swiper-slide>
</swiper-container>

<br>
<h2 id="sponsors">sponsors</h2>

<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/acee.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/amt.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/arpae.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/c3ai.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/csml.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/doe.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/enphase.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/google.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/intel.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/itg.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/nsf.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/nvidia.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/onr.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/pep.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/psemi.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/siebel.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/src.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/ti.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/tsmc.png" /></a>
<a class="venobox" data-gall="sponsors" href="#"><img src="assets/img/sponsors/wurth.png" /></a>

<br>